/************************************ TAG SELECTORS ************************************/

body {
  background-color: #f4f6ff;
  font-family: montserrat;
}

hr {
  background-color: #f4f6ff;
  border-style: none;
  border-top: dotted 6px #f3c623;
  width: 10%;
}

h1 {
  color: #f3c623;
}

h3 {
  color: #127681;
}

p {
  color: white;
}


/************************************ CLASS SELECTORS ************************************/

.blue-shadow {
  color: #f3c623;
  text-shadow: #127681 2px 2px 2px;
}

.top-page {
  background: linear-gradient(35deg, #10375c, #127681)
}

.center-text {
  text-align: center;
}

.button {
  background-color: #f3c623;
  border-radius: 10px;
  color: #10375c;
}

.button:hover{
  background-color: #127681;
  color: white;
  transform: scale(1.1);
}

.blue-back {
  background-color: #10375c;
  color: #f3c623;
}

.img-resize {
  height:10%;
  width:10%;
}

.table-style {
  background-color: #10375c;
  color: #f3c623;
}

.profile-pic {
    border: 10px solid #f3c623;
    border-radius: 50%;
}
