body {
  background-color: #f4f6ff;
  font-family: montserrat;
}

hr {
  background-color: #f4f6ff;
  border-style: none;
  border-top: dotted 6px #f3c623;
  width: 10%;
}

h1 {
  color: #f3c623;
}

h3 {
  color: #127681;
}

p {
  color: white;
}

.blue-shadow {
  color: #f3c623;
  text-shadow: #127681 2px 2px 2px;
}

.top-page {
  background-color: #10375c;
}

.center-text {
  text-align: center;
}

.button-color {
  background-color: #f3c623;
  color: #10375c;
}

.blue-back {
  background-color: #10375c;
  color: #f3c623;
}

.img-resize {
  width:10%;
  height:10%;
}
